/.metadata/
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
ManagementProgramGroupProject/.metadata/version.ini
ManagementProgramGroupProject/.metadata/.log
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ManagementProgramGroupProject/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
